.speakContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.speakContainer .englishWord {
    font-size: 60px;
}

.textVoice {
    margin: 10px auto;
    width: 50px;
    height: 50px;
}

.btnMicro {
    background-image: url("/src/utils/img/speakbtn.svg");
    width: 40px;
    height: 97px;
    background-repeat: no-repeat;
    background-size: 25px;
    border: none;
    background-position: center;
    cursor: pointer;
    /*margin: -30px auto;*/
}

.done {
    background-image: url("/src/utils/img/done.svg");
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
    border: none;
    background-position: center;
    cursor: pointer;
    margin: -30px auto;
}

.speakContainer .btnMicro {
    margin: 50px auto;
}

.btnNext {
    box-shadow: 2px 2px 5px rgba(10, 46, 82, 0.16), -8px -8px 40px rgba(255, 255, 255, 0.56), 8px 8px 15px rgba(0, 0, 0, 0.17);
    border-radius: 50px;
    background-image: url("/src/utils/img/arrow.svg");
    height: 40px;
    background-repeat: no-repeat;
    background-size: 45px;
    border: none;
    background-position: center;
    transform: scale(-1, 1);
    width: 190px;
    margin: auto;
    cursor: pointer;
}
